

<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>Trabajo desde el desarrollo del aplicativo, diseño de base de datos y puesta en producción del requerimiento.</p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET framework, ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>


            <ul>
                <li>ASP.Net MVC</li>
                <li>Blazor</li>
                <li>EntityFramework Core</li>

            </ul>



        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>Puedo realizar frontends robustos según el requerimiento</p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET framework, ASP.NET Core,React, Vue, Jquery
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>


            <ul>
                <li>ASP.Net MVC Razor Page</li>
                <li>Blazor WASM</li>
                <li>Jquery</li>
                <li>Vue</li>
            </ul>

        </div>


    </div>

</div>
