@model Persona 

@{
    ViewData["Title"] = "Portafolio";

    DateTime hoy = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Soy Edwin Harley Martinez Gomez </h1>
    <br />
    <h4>@hoy.ToString("dd/MM/yyyy hh:mm:ss tt")</h4>

  
    <h2>Soy Ingeniero de Sistemas enfocado en el desarrollo de software con tecnologías .NET y Javascript.</h2>

    <img id="foto" src="~/imagenes/img_edw.jpg" alt="foto edwin martinez" />
</div>
