@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Edwin Harley Martinez Gomez</h1>
    <h2>Soy Ingeniero de Sistemas enfocado en el desarrollo de software con tecnologías .NET y Javascript.</h2>

    <img id="foto" src="~/imagenes/img_edw.jpg" alt="foto edwin martinez" />
</div>
