@model HomeIndexViewModel

@{
    ViewData["Title"] = "Portafolio";
     
}
<partial name="_Presentacion" />

<partial name="_Habilidades" />

@if (Model.Proyectos is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Mis trabajos mas recientes</h1>
        <p>Aquí puedes ver algunos de mis trabajos mas recientes.</p>


    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach(var proyecto in Model.Proyectos)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@proyecto.ImagenURL" class="card-img-top" alt="img proyecto" />
                        <div class="card-body">
                            <h5 class="card-title">@proyecto.Titulo</h5>
                            <p class="card-text">@proyecto.Descripcion</p>
                        </div>
                        <div class="card-footer">

                            <a class="btn btn-outline-info" href="@proyecto.Link" target="_blank" rel="noopener noreferrer">Visitar</a>

                        </div>

                        </div>

                </div>

            }

        </div>
    </div>
}






